@import "_variables";

main {
  background-image: url("../imagenes/principal.jpg");
  background-size: cover;
  background-position: center;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;

  .main-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: justify;
    max-width: 600px;
    margin-right: 700px;
    margin-bottom: 50px;

    @include breakpoint(768px) {
      margin-right: 0;
    }
  }
}
