@import '_variables';
@import '_normalize';

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
}

.left-block,
.right-block {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}