body {
  background-color: #3498db; /* Color de fondo más claro */
}

.container {
  background-color: #fff; /* Fondo blanco del contenedor */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  margin-top: 20px; /* Margen superior */
}

h2 {
  color: #007bff; /* Color del encabezado */
}

.form-control {
  border-radius: 5px; /* Bordes redondeados para los campos de entrada */
}

.btn-primary {
  background-color: #007bff; /* Fondo del botón principal */
  border: none; /* Sin borde */
}

.btn-primary:hover {
  background-color: #0056b3; /* Cambio de color al pasar el ratón */
}
