body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

header {
  background-color: #3575fe;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
  margin-top: 20px;
  font-size: large;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: large;
}

main {
  background-image: url("../imagenes/especialidades.jpg");
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: justify;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-right: 800px;
}

nav {
  flex-grow: 1;
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 10px; /* Ajusta el espaciado según tus necesidades */
  border: 1px solid #ccc; /* Ajusta el estilo del borde según tus necesidades */
  border-radius: 20px; /* Ajusta el radio de borde para hacerlo redondeado */
  background: #fff url("../imagenes/icons8-lupa-30.png") no-repeat right center; /* Ruta de la imagen de la lupa */
  background-size: 20px; /* Ajusta el tamaño de la imagen de la lupa */
  outline: none; /* Elimina el contorno en el enfoque del campo de búsqueda */
}
.social-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.social-icon {
  margin-left: 15px;
}

.social-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding-left: 30px; /* Espacio para el icono */
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
}

.icon-medicina-general {
  background-image: url("../imagenes/icons8-medicina-48.png");
  background-size: 20px; /* Ruta de la imagen para Medicina General */
}

.icon-alerologia {
  background-image: url("../imagenes/icons8-pluma-de-insulina-48.png");
  background-size: 20px;
}
.icon-dermatologia {
  background-image: url("../imagenes/icons8-dermatología-48.png");
  background-size: 20px;
}
.icon-cardiologia {
  background-image: url("../imagenes/icons8-corazón-con-pulso-48.png");
  background-size: 20px;
}
.icon-oftalmologia {
  background-image: url("../imagenes/icons8-oftalmología-48.png");
  background-size: 20px;
}
.icon-otorrinolaringologia {
  background-image: url("../imagenes/icons8-emoji-de-oreja-48.png");
  background-size: 20px;
}
.icon-endocrino_nutricion {
  background-image: url("../imagenes/icons8-calculadora-de-calorías-de-alimentos-saludables-48.png");
  background-size: 20px;
}
.icon-fisioterapia {
  background-image: url("../imagenes/icons8-fisioterapia-48.png");
  background-size: 20px;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}
