body {
  margin: 0;
  font-family: "Arial", sans-serif;
  min-height: 100vh; /* Hace que el cuerpo de la página tenga al menos el 100% de la altura de la ventana del navegador */
  display: flex;
  flex-direction: column; /* Añadido para que el contenido se ajuste verticalmente */
}

header {
  background-color: #3575fe;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px; /* Espacio entre elementos */
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

main {
  background-image: url("../imagenes/principal.jpg");
  background-size: cover;
  background-position: center;
  min-height: 600px; /* Cambiado de 'height' a 'min-height' para permitir crecimiento */
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: justify;
  max-width: 600px;
  margin-right: 700px; /* Ajustado para mejorar la apariencia en dispositivos más pequeños */
  margin-bottom: 50px; /* Ajustado para mejorar la apariencia en dispositivos más pequeños */
}

nav {
  flex-grow: 1;
  text-align: center;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px; /* Reducido el margen para mejorar la apariencia en dispositivos más pequeños */
}

.search {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #fff url("../imagenes/icons8-lupa-30.png") no-repeat right center;
  background-size: 20px;
  outline: none;
  width: 200px; /* Ajustado el ancho del campo de búsqueda */
}

.social-links {
  display: flex;
  align-items: center;
  gap: 10px; /* Reducido el espacio entre elementos para mejorar la apariencia en dispositivos más pequeños */
}

.social-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

main {
  flex-grow: 1; /* Hace que el contenido principal ocupe el espacio restante */
}

footer {
  margin-top: auto;
  text-align: center; /* Centra el texto dentro del pie de página */
  background-color: #f0f0f0;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    justify-content: center;
  }

  nav ul li {
    margin: 0 10px;
  }

  .search-input {
    margin-top: 10px;
  }

  .main-content {
    margin-right: 0;
  }
}
