body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
}

.left-block,
.right-block {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.left-block {
  background-color: #3498db;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.dropdowns {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los desplegables y el botón */
  margin-bottom: 20px; /* Espacio superior para separar de otros elementos */
  font-size: 30px;
}

.dropdown {
  margin-bottom: 10px; /* Espacio entre desplegables */
  margin-top: 20px;
}

/* Estilos para el botón de reserva */
button {
  margin-top: 10px; /* Espacio entre el último desplegable y el botón */
  padding: 10px 20px; /* Ajusta según sea necesario */
  font-size: 16px; /* Ajusta según sea necesario */
  border-radius: 30px;
}
.logo {
  width: 400px; /* Ajusta el tamaño según sea necesario */
  margin-top: 0px;
}

.welcome-text {
  text-align: justify;
  max-width: 100%; /* Ocupa el ancho completo del bloque */
  font-size: 18px; /* Tamaño del texto en píxeles, ajusta según sea necesario */
  line-height: 1.5;
}

.right-block {
  background-image: url("../imagenes/gestion_citas.jpg"); /* Ruta de la imagen de fondo del Bloque Derecho */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column; /* Cambiado a columna para que los botones estén uno encima del otro */
  align-items: center;
  height: 100vh; /* Ajusta la altura del bloque derecho según tus necesidades */
  justify-content: flex-start; /* Alinea el contenido en la parte superior */
}

.navigation-buttons {
  display: flex;
  width: 95%;
  margin-top: 20px; /* Espacio superior para separar los botones del contenido anterior */
}

.nav-button {
  flex: 1;
  padding: 10px; /* Aumenta el tamaño de los botones en altura */
  margin-right: 10px; /* Espacio entre los botones */
  border: none;
  border-radius: 30px;
  background-color: #0cddac;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.nav-button:last-child {
  margin-right: 0;
}

.nav-button:hover {
  background-color: #097b66;
}

.name-banner {
  background-color: #dde6e3;
  padding: 15px;
  margin-top: 20px;
  border-radius: 30px;
  text-align: center;
  color: #3498db;
}

.name-banner p {
  margin: 0;
  font-size: 30px;
}

.name-list {
  list-style-type: none; /* Elimina los marcadores de lista */
  padding: 0;
  text-align: left;
}

.name-list li {
  font-size: 25px; /* Ajusta según sea necesario */
  margin-bottom: 8px; /* Espacio entre nombres */
}

.name-list a {
  color: #ffffff; /* Hace que el texto dentro de los enlaces sea blanco */
  text-decoration: none; /* Elimina el subrayado de los enlaces si lo deseas */
}

.name-list a:hover {
  text-decoration: underline; /* Subraya el texto al pasar el ratón por encima si lo deseas */
}

.reservar-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.reservar-link {
  font-size: 20px; /* Ajusta el tamaño del texto según sea necesario */
  padding: 10px 20px; /* Ajusta el relleno (padding) para hacer el enlace más grande */
  display: inline-block; /* Para que el padding afecte el tamaño total del enlace */
  text-decoration: none; /* Elimina el subrayado predeterminado */
  background-color: #6093ca; /* Color de fondo del enlace (puedes ajustar según tus colores) */
  color: #fff; /* Color del texto del enlace (puedes ajustar según tus colores) */
  border-radius: 5px; /* Bordes redondeados */
}

.reservar-link:hover {
  background-color: #5b9be0; /* Cambia el color de fondo al pasar el ratón sobre el enlace */
}
